<!-- <footer class="page-footer"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<a routerLink="/cadastrar">Cadastrar Pessoas</a>
<a (click)="deslogar()" style="float: right;" href="javascript:;">Sair</a>
<div class="col-md-12">

  <div class="row">
    <div class="col-md-11">
      <div class="col-sm-2">
        <select class="form-control input-sm" [(ngModel)]="qtdPorPagina" (change)="paginar(1)">
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
      </div>

      <div class="col-sm-3" style="float: right">
        <input type="search" [(ngModel)]="filtro" class="form-control input-sm" placeholder="Pesquisar" aria-label="" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <table class="table table-hover responsive-table">
    <tr>
      <th class="text-center">Id</th>
      <th class="text-center">Nome</th>
      <th class="text-center">E-mail</th>
      <th class="text-center">Nascimento</th>
      <th class="text-center">CPF</th>
      <th class="text-center">Ações</th>
    </tr>
    <tr *ngFor="let cli of popularPessoas(pessoas | filter: 'nome' : filtro)">
      <td class="text-center">{{ cli.id }}</td>
      <td class="text-left">{{ cli.nome }}</td>
      <td class="text-left">{{ cli.email }}</td>
      <td class="text-center">{{ cli.nascimento | date:'dd/MM/yyyy' }}</td>
      <td class="text-center">{{ cli.cpf | cpf }}</td>
      <td class="text-center">
        <div>
          <button type="button" class="btn btn-primary btn-sm space" (click)="excluirPessoa(cli)">Excluir</button>
          <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/cadastrar', {id: cli.id}]" (click)="editarPessoa(cli)">Editar</button>
        </div>
      </td>
    </tr>
  </table>
  <paginar
    [qtdPorPagina]="qtdPorPagina"
    [totalRegistros]="totalRegistro"
    [qtdAdjacentes]="3"
    (onPaginate)="paginar($event)">
  </paginar>
</div>

<div class="col-md-12 col-md-offset-1 text-center">
  <h1>Angular 2/5 Alerts</h1>
  <button class="btn btn-success" (click)="sucesso('Success!!')">Success</button>
  <button class="btn btn-danger" (click)="erro('Error :(')">Error</button>
  <button class="btn btn-info" (click)="info('Some info....')">Info</button>
  <button class="btn btn-warning" (click)="alerta('Warning: ...')">Warn</button>
  <button class="btn btn-default" (click)="limparMensagem()">Clear</button>
</div>
