<div class="row">
  <div class="col-md-12">
    <h3>ITEC BRAZIL</h3>
    <label>Escolha o projeto tentacle
      <select>
        <option value="3">START</option>
        <option value="5">ENGINE</option>
      </select>
    </label>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Informe os campos abaixo:</h4>
    <label for="fila">Fila</label>
    <input class="form-control input-sm" type="text" placeholder="exemplo.tentacle.rede.loja">
    <br>
    <p>Informações sobre o banco de dados</p>
    <label for="banco">Nome BD</label>
    <input class="form-control input-sm" type="text" placeholder="">
    <label for="usuario">Usuário BD</label>
    <input class="form-control input-sm" type="text" placeholder="">
    <label for="senha">Senha BD</label>
    <input class="form-control input-sm" type="text" placeholder="">
    <br>
    <button type="button" class="btn btn-primary btn-sm" (click)="baixar()">Gerar Projeto</button>
  </div>
</div>
